@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* bg-[#f5efee] */
